<div class="col-md-12">
  <%= simple_form_for @course do |f|%>
  <%= f.input :title %>
  <%= f.input :description %>
  <div class="form-actions">
    <%= f.submit "Submit", :disable_with => 'Submiting...', :class => "btn btn-primary" %>
  </div>
  <% end %>
</div>
